html > body {
  font-family: "Trebuchet MS", Geneva, sans-serif;
  line-height: 1.5;
  margin: 0 1em;
  font-size: large;
}

/*
html > body > .container-lg > h1:first-child::before {
  background: no-repeat center url(/favicon.ico);
  background-size: 1em;
  content: '.....';
  color: transparent;
}
*/

html > body > .container-lg > h1:first-child > a {
  display: none;
}

html > body blockquote {
  font-style: italic;
}

html > body p {
  text-align: justify;
}

html > body h1 {
  font-size: 1.5em;
}

html > body h2 {
  font-size: 1.25em;
}

html > body h3 {
  font-size: 1.125em;
}
